.header {
  backface-visibility: hidden;
  background-color: #fff;
  height: 5.5rem;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.02);
}
.header__default,
.header__context {
  align-items: center;
  display: flex;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  margin: 0 30px;
}
.header__default {
  justify-content: space-between;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.header__context {
  justify-content: flex-start;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.header__default {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.header__brand {
  height: 2rem;
}
.header__icons {
  align-items: center;
  display: flex;
}
.header__icons--search,
.header__icons--cart,
.header__icons--back {
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border-radius: 100%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 2rem;
  line-height: 0;
  outline: none;
  padding: 0.5rem;
  padding: 0;
  position: relative;
}
.header__icons--back {
  margin-right: auto;
  font-size: 2.5rem;
}
.header__icons--search {
  margin-right: 1.5rem;
}
.header__title {
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-block;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin: 0 auto;
  transform: translate3d(calc(-50% -30px), 0, 0);
}
